{% extends 'base.html.twig' %}

{% block title %}Ajout d'un professeur{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }} 
<a href="{{ url('professeur_list') }}">Annuler</a>

{% endblock %}